<div class="mt-4">
    <form method="post">
        <div class="mb-3">
            <label for="search" class="form-label">Search</label>
            <input type="text" name="s" class="form-control" id="search" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="search" class="form-label">Category</label>
            <input type="text" name="category" class="form-control" id="search" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>